.text {
  margin: 0;
}

.xs {
  font-size: var(--text-xs);
  line-height: var(--lh-xs);
}

.sm {
  font-size: var(--text-sm);
  line-height: var(--lh-sm);
}

.md {
  font-size: var(--text-base);
  line-height: var(--lh-base);
}

.lg {
  font-size: var(--text-lg);
  line-height: var(--lh-lg);
}

.xl {
  font-size: var(--text-xl);
  line-height: var(--lh-xl);
}

.xxl {
  font-size: var(--text-2xl);
  line-height: var(--lh-2xl);
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.default {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.muted {
  color: var(--color-text-muted);
}

.primary {
  color: var(--color-primary-500);
}

.success {
  color: var(--color-success-500);
}

.danger {
  color: var(--color-danger-500);
}
